@model GT_Order_Monitoring_System.Models.MyModel

<div class="row">
    <div class="col-sm-12 row">
        <div class="col-sm-12 pull-right">
            <a href="/Document/PrintSaleOrder/@Model.PoMaster.po_id" target="_blank" style="float: right;" class="btn btn-success"><i class="fa fa-print"></i> PRINT PREVIEW </a>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group row">
            <div class="col-sm-3">
                <label>PO #&nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.PoMaster.po_no" readonly />
            </div>
            <div class="col-sm-3">
                <label>Terms &nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.PoMaster.terms" readonly />
            </div>
            <div class="col-sm-3">
                <label>PO Date &nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.PoMaster.po_date" readonly />
            </div>
            <div class="col-sm-3">
                <label>Delivery Date &nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.PoMaster.delivery_date" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label>Customer Name &nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.Customer.customer_name" readonly />
            </div>
            <div class="col-sm-3">
                <label>Contact Person &nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.Customer.contact_person" readonly />
            </div>
            <div class="col-sm-3">
                <label>Hold Status &nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.PoMaster.holdstatus" readonly />
            </div>
            <div class="col-sm-3">
                <label>Hold Type &nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.PoMaster.hold_type" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label>Status &nbsp;</label>
                <input class="form-control" name="name" type="text" value="@Model.PoMaster.status" readonly />
            </div>
            <div class="col-sm-3">
                <label>Notes &nbsp;</label>
                <textarea class="form-control" name="name" value="" readonly>@Model.PoMaster.notes</textarea>
            </div>
        </div>
        <hr style="border: none; border-bottom: 2px solid black;">
        <div class="form-group row">
            <div class="col-sm-12">
                <center><label class="font-weight-bold">Customer Purchase Order &nbsp;</label></center>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <table id="dataTableMain" class="table table-bordered table-hover display" style="margin-top: 10px; overflow-y: scroll;">
                    <thead>
                        <tr id="tableHeader" style="background-color: #5ba2e6;color: white;">
                            <th>Code</th>
                            <th>Description</th>
                            <th>Unit</th>
                            <th>PC(s)/PCK</th>
                            <th>Qty</th>
                            <th>Amount</th>
                            <th>Remaining Qty</th>
                            <th>Over Qty</th>
                            <th>Product Category</th>
                            <th>Status</th>
                            <th>Control Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListSalesOrderDetails)
                        {
                            <tr>
                                <td>@item.code</td>
                                <td>@{ int StrLength = item.description.Length; }
                                @if (StrLength > 15)
                                {
                                    <div title="@item.description.ToString()">@item.description.Substring(0, 15) <span class="badge badge-success" style="cursor: pointer;" onclick="swal('@item.description')">(cont..)</span></div>
                                }
                                else
                                {
                                    <div>@item.description.ToString()</div>
                                }</td>
                                <td>@item.unit</td>
                                <td>@item.pcsperpack</td>
                                <td>@item.qty</td>
                                <td>@item.amount.ToString("N2")</td>
                                <td>@item.remqty.ToString("N2")</td>
                                <td>@item.overqty.ToString("N2")</td>
                                <td>@item.product_category</td>
                                <td>@item.status</td>
                                <td>@item.control_type</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

